# Git
.git
.gitignore
.github/

# Python
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media
!wallpaper_site/media/wallpapers/

# Docker
.dockerignore
docker-compose*.yml

# Editor directories and files
.idea
.vscode
*.swp
*.swo

# Environment files
.env
.env.*

# Testing
.coverage
htmlcov/
.pytest_cache/
.tox/

# Documentation
README.md
CHANGELOG.md
docs/
